@import url('http://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
    * {
        margin: 0;
        padding:0;
        box-sizing: border-box;
        font-family:'poppins', sans-serif ;
    }
    body {
        color: #ededed;
    }
    .cabeçario{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .logo{
        position: relative;
        font-size: 28px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
    }
    .logo::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: .4s;
    }
    
    .barra-navegaçao a {
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left:  35px;
        transition: 1,5s;
    }
    .barra-navegaçao a:hover,
    .barra-navegaçao a.active{
        color: #00abf0;
    }
    .apresentaçao{
        height: 100vh;
        background: url('./text3.png') no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0 10%;
    }
    .biograf{
        max-width: 700px;
    }
    .biograf h1 {
        font-size: 52px;
        font-weight: 600;
        position: relative;
        line-height: 2;
    }
    .biograf h1::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 1s;
    }
    .biograf h3{
        font-size: 36px;
        font-weight: 700;
        color:#00abf0;
        position: relative;
    }
    .biograf h3::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 1.5s;
    }
    .biograf p {
        font-size: 18px;
        margin: 20px 0 40px;
        position: relative;
    }
    .biograf p::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 1.9s;
    }
    .btn-box::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 2s;
        z-index: 2;
    }
    .apresentaçao .btn-box{
        width: 345px;
        position: relative;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 8px;
        font-size: 19px;
        color: #081b29;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: 5s;
    }
    .btn-box a:hover{
        color: #00abf0;
    }
    .btn-box a:nth-child(2) {
        background: transparent;
        color:#00abf0;
        font-size: 14px;
    }
    .btn-box a:nth-child(2):hover {
        color: #081b29;
    }
    .btn-box a:nth-child(2)::before{
        background: #00abf0;
    }
    
    .btn-box a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #081b29;
        z-index: -1;
        transition: 1S;
    }
    .btn-box a:hover::before{
        width: 100%;
    }
    .direcionais{
        position: absolute;
        bottom: 100px;
        width: 230px;
        background: #081b29;
        display: flex;
        justify-content: space-between;
    }
    .direcionais:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 1.9s;
        z-index: 2;
    }
    .direcionais a{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background:  transparent;
        border: 2px solid #2603bee1;
        border-radius: 50%;
        font-size: 20px;
        color: #fffefe;
        text-decoration: none;
        z-index: 1;
        overflow: hidden;
    }
    .direcionais a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #2603bee1;
        z-index: -1;
        transition: 1s;
    }
    .direcionais a:hover::before{
        width: 100%;
        border-radius: 70%;
        font-size: 20px;
    }
    .foto{
        position: relative;
        top: 0;
        right: 30px;
        width: 900px;
        height: 100%;
        background: transparent;
        transition: 2s;
    }
    .foto::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 2.5s;
    }
    .foto:hover{
        background: #081b29;
        opacity: .7;
    }
    @keyframes showRight {
        100%{
            width: 0;
        }
    }